In [77]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [78]:
#import data
df = pd.read_csv(r"https://raw.githubusercontent.com/mredshaw/AI-Fundamentals-Project/main/neighbourhood-profiles-2016-140-model_11.csv")

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2383 entries, 0 to 2382
Columns: 146 entries, _id to Yorkdale-Glen Park
dtypes: int64(1), object(145)
memory usage: 2.7+ MB

In [80]:
df.describe(include='all')

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
count,2383.000000,2383,2383,2383,2383,2376,2327,2327,2327,2327,...,2327,2327,2327,2327,2327,2327,2327,2327,2327,2327
unique,NaN,15,49,5,1654,1527,662,650,522,693,...,611,627,811,522,453,542,507,532,702,552
top,NaN,Language,Ethnic origin population,Census Profile 98-316-X2016001,English and French,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,NaN,808,279,2245,4,322,985,945,1030,818,...,920,855,769,987,1035,971,973,968,773,937
mean,1192.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,688.057168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,596.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1192.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1787.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2383.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
filtered_df = df.iloc[[0,85,86,87,88,89,90,1020,1023,1030,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1703,1704,1705,1706,1707,1708,1709,1710,1711,1886,1887,1888,1889,]]

In [82]:
print(filtered_df)

       _id                                 Category
0        1                Neighbourhood Information  \
85      86  Families, households and marital status
86      87  Families, households and marital status
87      88  Families, households and marital status
88      89  Families, households and marital status
89      90  Families, households and marital status
90      91  Families, households and marital status
1020  1021                                   Income
1023  1024                                   Income
1030  1031                                   Income
1039  1040                                   Income
1040  1041                                   Income
1041  1042                                   Income
1042  1043                                   Income
1043  1044                                   Income
1044  1045                                   Income
1045  1046                                   Income
1046  1047                                   Income
1047  1048                                   Income
1048  1049                                   Income
1049  1050                                   Income
1050  1051                                   Income
1051  1052                                   Income
1052  1053                                   Income
1053  1054                                   Income
1054  1055                                   Income
1703  1704                                Education
1704  1705                                Education
1705  1706                                Education
1706  1707                                Education
1707  1708                                Education
1708  1709                                Education
1709  1710                                Education
1710  1711                                Education
1711  1712                                Education
1886  1887                                   Labour
1887  1888                                   Labour
1888  1889                                   Labour
1889  1890                                   Labour

                                       Topic                     Data Source
0                  Neighbourhood Information                 City of Toronto  \
85                    Family characteristics  Census Profile 98-316-X2016001
86                    Family characteristics  Census Profile 98-316-X2016001
87                    Family characteristics  Census Profile 98-316-X2016001
88                    Family characteristics  Census Profile 98-316-X2016001
89                    Family characteristics  Census Profile 98-316-X2016001
90                    Family characteristics  Census Profile 98-316-X2016001
1020            Income of households in 2015  Census Profile 98-316-X2016001
1023            Income of households in 2015  Census Profile 98-316-X2016001
1030            Income of households in 2015  Census Profile 98-316-X2016001
1039            Income of households in 2015  Census Profile 98-316-X2016001
1040            Income of households in 2015  Census Profile 98-316-X2016001
1041            Income of households in 2015  Census Profile 98-316-X2016001
1042            Income of households in 2015  Census Profile 98-316-X2016001
1043            Income of households in 2015  Census Profile 98-316-X2016001
1044            Income of households in 2015  Census Profile 98-316-X2016001
1045            Income of households in 2015  Census Profile 98-316-X2016001
1046            Income of households in 2015  Census Profile 98-316-X2016001
1047            Income of households in 2015  Census Profile 98-316-X2016001
1048            Income of households in 2015  Census Profile 98-316-X2016001
1049            Income of households in 2015  Census Profile 98-316-X2016001
1050            Income of households in 2015  Census Profile 98-316-X2016001
1051            Income of households in 2015  Census Profile 98-316-X2016001
1052            Income of households in 2015  Census Profile 98-316-X2016001
1053            Income of households in 2015  Census Profile 98-316-X2016001
1054            Income of households in 2015  Census Profile 98-316-X2016001
1703  Highest certificate, diploma or degree  Census Profile 98-316-X2016001
1704  Highest certificate, diploma or degree  Census Profile 98-316-X2016001
1705  Highest certificate, diploma or degree  Census Profile 98-316-X2016001
1706  Highest certificate, diploma or degree  Census Profile 98-316-X2016001
1707  Highest certificate, diploma or degree  Census Profile 98-316-X2016001
1708  Highest certificate, diploma or degree  Census Profile 98-316-X2016001
1709  Highest certificate, diploma or degree  Census Profile 98-316-X2016001
1710  Highest certificate, diploma or degree  Census Profile 98-316-X2016001
1711  Highest certificate, diploma or degree  Census Profile 98-316-X2016001
1886                     Labour force status  Census Profile 98-316-X2016001
1887                     Labour force status  Census Profile 98-316-X2016001
1888                     Labour force status  Census Profile 98-316-X2016001
1889                     Labour force status  Census Profile 98-316-X2016001

                                         Characteristic City of Toronto
0                                  Neighbourhood Number             NaN  \
85                                            2 persons        3,44,110
86                                            3 persons        1,74,600
87                                            4 persons        1,43,250
88                                    5 or more persons          56,795
89                             Couples without children        2,50,085
90    Total number of census families in private hou...        7,18,755
1020      Total - Income statistics in 2015 for one-...        3,59,955
1023      Total - Income statistics in 2015 for two-...        7,52,970
1030      Total - Income statistics in 2015 for one-...        3,59,990
1039                                   $5,000 to $9,999          23,455
1040                                 $10,000 to $14,999          36,550
1041                                 $20,000 to $24,999          47,315
1042                                 $25,000 to $29,999          47,500
1043                                 $30,000 to $34,999          46,945
1044                                 $35,000 to $39,999          47,115
1045                                 $40,000 to $44,999          46,285
1046                                 $45,000 to $49,999          44,650
1047                                 $50,000 to $59,999          84,180
1048                                 $60,000 to $69,999          76,120
1049                                 $70,000 to $79,999          68,190
1050                                 $80,000 to $89,999          60,400
1051                                 $90,000 to $99,999          53,485
1052                                  $100,000 and over        3,43,520
1053                                  $200,000 and over          96,600
1054  Total - Household after-tax income groups in 2...       11,12,930
1703           No certificate, diploma or degree-NO EDU          377340
1704    Secondary (high) school diploma or equivalen...          561090
1705        Trades certificate or diploma other than...           53060
1706        Certificate of Apprenticeship or Certifi...           40945
1707      College, CEGEP or other non-university cer...          362080
1708      University certificate or diploma below ba...           65015
1709      University certificate, diploma or degree ...          835260
1710                                  Bachelor's degree          534610
1711        University certificate or diploma above ...           54570
1886                                           Employed       13,61,375
1887                                         Unemployed        1,22,305
1888                                 Participation rate            64.7
1889                                    Employment rate            59.3

     Agincourt North Agincourt South-Malvern West Alderwood   Annex  ...
0                129                          128        20      95  ...  \
85              3570                         2970      1605    4475  ...
86              2390                         1835       900    1195  ...
87              1875                         1325       755     805  ...
88               605                          520       220     215  ...
89              2520                         2095      1175    3830  ...
90              8425                         6640      3490    6700  ...
1020           1,345                        1,620     1,105   7,885  ...
1023           7,770                        6,515     3,510   8,045  ...
1030           1,360                        1,615     1,115   7,895  ...
1039             105                          140        45     485  ...
1040             160                          195        80     655  ...
1041             320                          315       145     620  ...
1042             540                          400       150     530  ...
1043             420                          370       155     525  ...
1044             455                          385       170     555  ...
1045             420                          370       160     540  ...
1046             435                          415       165     505  ...
1047             800                          770       335   1,000  ...
1048             700                          645       300     900  ...
1049             635                          595       320     795  ...
1050             525                          510       275     715  ...
1051             515                          405       250     605  ...
1052           2,505                        2,030     1,915   5,895  ...
1053             325                          285       360   2,670  ...
1054           9,115                        8,140     4,620  15,940  ...
1703            6550                         4035      2005    1585  ...
1704            7460                         6090      2960    4270  ...
1705             505                          375       345     265  ...
1706             375                          325       345     265  ...
1707            3540                         3150      2095    2700  ...
1708             775                          655       230     615  ...
1709            5805                         5765      2290   16590  ...
1710            4380                         4210      1660    9135  ...
1711             295                          280       125     960  ...
1886          12,510                       10,855     6,405  17,305  ...
1887           1,360                        1,185       415   1,250  ...
1888            55.4                           59      66.5    70.6  ...
1889              50                         53.2      62.4    65.8  ...

     Willowdale West Willowridge-Martingrove-Richview  Woburn
0                 37                                7     137  \
85              2350                             2850    5930
86              1090                             1515    3675
87               820                             1420    3200
88               210                              510    1620
89              1905                             2060    3895
90              4455                             6315   14400
1020           2,660                            2,170   4,220
1023           4,890                            6,330  14,225
1030           2,705                            2,175   4,235
1039             225                               85     455
1040             250                              155     685
1041             325                              365     825
1042             315                              395     960
1043             285                              375     910
1044             245                              375     950
1045             265                              380     955
1046             240                              370     815
1047             440                              630   1,725
1048             390                              610   1,405
1049             375                              555   1,240
1050             375                              510   1,070
1051             335                              435     865
1052           2,320                            2,895   3,980
1053             640                              655     430
1054           7,550                            8,510  18,430
1703            1405                             3440    8850
1704            3140                             5205   13170
1705             205                              615    1025
1706             210                              510     830
1707            1935                             3075    7535
1708             455                              465    1120
1709            7515                             5265   10860
1710            4700                             3655    7575
1711             410                              385     705
1886           7,760                            9,940  22,505
1887             845                              920   2,665
1888            57.9                             58.5      58
1889            52.2                             53.5    51.9

     Woodbine Corridor Woodbine-Lumsden Wychwood Yonge-Eglinton
0                   64               60       94            100  \
85                1645             1125     1820           1555
86                 840              565      765            680
87                 780              410      680            665
88                 160               95      195            170
89                1190              830     1320           1290
90                3430             2200     3475           3065
1020             1,860            1,105    2,080          2,365
1023             3,590            2,340    3,815          3,310
1030             1,875            1,105    2,065          2,370
1039               125               65      120            105
1040               265              105      185            145
1041               275              150      325            175
1042               190              135      270            170
1043               225              110      225            190
1044               160              130      225            210
1045               190              115      225            195
1046               180              115      225            180
1047               295              245      400            370
1048               290              205      390            375
1049               235              200      315            325
1050               235              185      300            275
1051               220              195      275            245
1052             2,190            1,245    1,895          2,340
1053               610              210      610          1,110
1054             5,455            3,450    5,880          5,680
1703              1430             1015     1860            575
1704              2065             1760     2285           1430
1705               225              190      220            140
1706               185              125      205             85
1707              1760             1235     1710           1275
1708               225              125      330            235
1709              4220             2245     4775           6255
1710              2795             1435     2770           3625
1711               240              135      315            370
1886             6,715            4,380    7,470          6,815
1887               560              310      410            505
1888              71.9             70.2     69.2           73.2
1889              66.4             65.5     65.6           68.2

     Yonge-St.Clair York University Heights Yorkdale-Glen Park
0                97                      27                 31
85             2130                    3150               1835
86              535                    1845               1035
87              380                    1395                740
88              115                     610                330
89             1850                    1955               1245
90             3160                    7000               3930
1020          3,475                   2,660              1,355
1023          3,535                   7,505              3,985
1030          3,520                   2,655              1,350
1039            120                     230                 65
1040            185                     340                120
1041            225                     525                245
1042            220                     525                240
1043            215                     590                290
1044            235                     570                275
1045            260                     530                280
1046            260                     530                230
1047            505                     950                470
1048            445                     845                370
1049            415                     615                360
1050            340                     605                295
1051            325                     515                235
1052          2,865                   1,955              1,550
1053          1,380                     195                325
1054          7,010                  10,165              5,345
1703            460                    5125               3445
1704           1820                    6980               3385
1705            165                     830                425
1706            100                     505                340
1707           1410                    3765               1755
1708            360                     765                320
1709           6775                    5555               2405
1710           3720                    3910               1595
1711            445                     340                220
1886          7,245                  13,235              6,670
1887            455                   1,585                580
1888           69.4                      63               60.1
1889           65.2                    56.3               55.3

[39 rows x 146 columns]

In [83]:
filtered_df

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
85,86,"Families, households and marital status",Family characteristics,Census Profile 98-316-X2016001,2 persons,"3,44,110",3570,2970,1605,4475,...,2350,2850,5930,1645,1125,1820,1555,2130,3150,1835
86,87,"Families, households and marital status",Family characteristics,Census Profile 98-316-X2016001,3 persons,"1,74,600",2390,1835,900,1195,...,1090,1515,3675,840,565,765,680,535,1845,1035
87,88,"Families, households and marital status",Family characteristics,Census Profile 98-316-X2016001,4 persons,"1,43,250",1875,1325,755,805,...,820,1420,3200,780,410,680,665,380,1395,740
88,89,"Families, households and marital status",Family characteristics,Census Profile 98-316-X2016001,5 or more persons,"56,795",605,520,220,215,...,210,510,1620,160,95,195,170,115,610,330
89,90,"Families, households and marital status",Family characteristics,Census Profile 98-316-X2016001,Couples without children,"2,50,085",2520,2095,1175,3830,...,1905,2060,3895,1190,830,1320,1290,1850,1955,1245
90,91,"Families, households and marital status",Family characteristics,Census Profile 98-316-X2016001,Total number of census families in private hou...,"7,18,755",8425,6640,3490,6700,...,4455,6315,14400,3430,2200,3475,3065,3160,7000,3930
1020,1021,Income,Income of households in 2015,Census Profile 98-316-X2016001,Total - Income statistics in 2015 for one-...,"3,59,955","1,345","1,620","1,105","7,885",...,"2,660","2,170","4,220","1,860","1,105","2,080","2,365","3,475","2,660","1,355"
1023,1024,Income,Income of households in 2015,Census Profile 98-316-X2016001,Total - Income statistics in 2015 for two-...,"7,52,970","7,770","6,515","3,510","8,045",...,"4,890","6,330","14,225","3,590","2,340","3,815","3,310","3,535","7,505","3,985"
1030,1031,Income,Income of households in 2015,Census Profile 98-316-X2016001,Total - Income statistics in 2015 for one-...,"3,59,990","1,360","1,615","1,115","7,895",...,"2,705","2,175","4,235","1,875","1,105","2,065","2,370","3,520","2,655","1,350"
1039,1040,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$5,000 to $9,999","23,455",105,140,45,485,...,225,85,455,125,65,120,105,120,230,65
1040,1041,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$10,000 to $14,999","36,550",160,195,80,655,...,250,155,685,265,105,185,145,185,340,120
1041,1042,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$20,000 to $24,999","47,315",320,315,145,620,...,325,365,825,275,150,325,175,225,525,245
1042,1043,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$25,000 to $29,999","47,500",540,400,150,530,...,315,395,960,190,135,270,170,220,525,240
1043,1044,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$30,000 to $34,999","46,945",420,370,155,525,...,285,375,910,225,110,225,190,215,590,290
1044,1045,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$35,000 to $39,999","47,115",455,385,170,555,...,245,375,950,160,130,225,210,235,570,275
1045,1046,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$40,000 to $44,999","46,285",420,370,160,540,...,265,380,955,190,115,225,195,260,530,280
1046,1047,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$45,000 to $49,999","44,650",435,415,165,505,...,240,370,815,180,115,225,180,260,530,230
1047,1048,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$50,000 to $59,999","84,180",800,770,335,"1,000",...,440,630,"1,725",295,245,400,370,505,950,470
1048,1049,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$60,000 to $69,999","76,120",700,645,300,900,...,390,610,"1,405",290,205,390,375,445,845,370
1049,1050,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$70,000 to $79,999","68,190",635,595,320,795,...,375,555,"1,240",235,200,315,325,415,615,360
1050,1051,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$80,000 to $89,999","60,400",525,510,275,715,...,375,510,"1,070",235,185,300,275,340,605,295
1051,1052,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$90,000 to $99,999","53,485",515,405,250,605,...,335,435,865,220,195,275,245,325,515,235
1052,1053,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$100,000 and over","3,43,520","2,505","2,030","1,915","5,895",...,"2,320","2,895","3,980","2,190","1,245","1,895","2,340","2,865","1,955","1,550"
1053,1054,Income,Income of households in 2015,Census Profile 98-316-X2016001,"$200,000 and over","96,600",325,285,360,"2,670",...,640,655,430,610,210,610,"1,110","1,380",195,325
1054,1055,Income,Income of households in 2015,Census Profile 98-316-X2016001,Total - Household after-tax income groups in 2...,"11,12,930","9,115","8,140","4,620","15,940",...,"7,550","8,510","18,430","5,455","3,450","5,880","5,680","7,010","10,165","5,345"
1703,1704,Education,"Highest certificate, diploma or degree",Census Profile 98-316-X2016001,"No certificate, diploma or degree-NO EDU",377340,6550,4035,2005,1585,...,1405,3440,8850,1430,1015,1860,575,460,5125,3445
1704,1705,Education,"Highest certificate, diploma or degree",Census Profile 98-316-X2016001,Secondary (high) school diploma or equivalen...,561090,7460,6090,2960,4270,...,3140,5205,13170,2065,1760,2285,1430,1820,6980,3385
1705,1706,Education,"Highest certificate, diploma or degree",Census Profile 98-316-X2016001,Trades certificate or diploma other than...,53060,505,375,345,265,...,205,615,1025,225,190,220,140,165,830,425
1706,1707,Education,"Highest certificate, diploma or degree",Census Profile 98-316-X2016001,Certificate of Apprenticeship or Certifi...,40945,375,325,345,265,...,210,510,830,185,125,205,85,100,505,340
1707,1708,Education,"Highest certificate, diploma or degree",Census Profile 98-316-X2016001,"College, CEGEP or other non-university cer...",362080,3540,3150,2095,2700,...,1935,3075,7535,1760,1235,1710,1275,1410,3765,1755
1708,1709,Education,"Highest certificate, diploma or degree",Census Profile 98-316-X2016001,University certificate or diploma below ba...,65015,775,655,230,615,...,455,465,1120,225,125,330,235,360,765,320
1709,1710,Education,"Highest certificate, diploma or degree",Census Profile 98-316-X2016001,"University certificate, diploma or degree ...",835260,5805,5765,2290,16590,...,7515,5265,10860,4220,2245,4775,6255,6775,5555,2405
1710,1711,Education,"Highest certificate, diploma or degree",Census Profile 98-316-X2016001,Bachelor's degree,534610,4380,4210,1660,9135,...,4700,3655,7575,2795,1435,2770,3625,3720,3910,1595
1711,1712,Education,"Highest certificate, diploma or degree",Census Profile 98-316-X2016001,University certificate or diploma above ...,54570,295,280,125,960,...,410,385,705,240,135,315,370,445,340,220
1886,1887,Labour,Labour force status,Census Profile 98-316-X2016001,Employed,"13,61,375","12,510","10,855","6,405","17,305",...,"7,760","9,940","22,505","6,715","4,380","7,470","6,815","7,245","13,235","6,670"
1887,1888,Labour,Labour force status,Census Profile 98-316-X2016001,Unemployed,"1,22,305","1,360","1,185",415,"1,250",...,845,920,"2,665",560,310,410,505,455,"1,585",580
1888,1889,Labour,Labour force status,Census Profile 98-316-X2016001,Participation rate,64.7,55.4,59,66.5,70.6,...,57.9,58.5,58,71.9,70.2,69.2,73.2,69.4,63,60.1
1889,1890,Labour,Labour force status,Census Profile 98-316-X2016001,Employment rate,59.3,50,53.2,62.4,65.8,...,52.2,53.5,51.9,66.4,65.5,65.6,68.2,65.2,56.3,55.3

In [84]:
DF=filtered_df

In [85]:
DF1= DF.drop(DF.columns[:4], axis=1)

In [86]:
DF1

,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,Neighbourhood Number,NaN,129,128,20,95,42,34,76,52,...,37,7,137,64,60,94,100,97,27,31
85,2 persons,"3,44,110",3570,2970,1605,4475,3925,1945,3550,3255,...,2350,2850,5930,1645,1125,1820,1555,2130,3150,1835
86,3 persons,"1,74,600",2390,1835,900,1195,1760,1115,965,1570,...,1090,1515,3675,840,565,765,680,535,1845,1035
87,4 persons,"1,43,250",1875,1325,755,805,1500,925,485,980,...,820,1420,3200,780,410,680,665,380,1395,740
88,5 or more persons,"56,795",605,520,220,215,435,320,105,255,...,210,510,1620,160,95,195,170,115,610,330
89,Couples without children,"2,50,085",2520,2095,1175,3830,3015,1385,2950,2570,...,1905,2060,3895,1190,830,1320,1290,1850,1955,1245
90,Total number of census families in private hou...,"7,18,755",8425,6640,3490,6700,7605,4310,5110,6070,...,4455,6315,14400,3430,2200,3475,3065,3160,7000,3930
1020,Total - Income statistics in 2015 for one-...,"3,59,955","1,345","1,620","1,105","7,885","4,360","1,660","7,610","3,200",...,"2,660","2,170","4,220","1,860","1,105","2,080","2,365","3,475","2,660","1,355"
1023,Total - Income statistics in 2015 for two-...,"7,52,970","7,770","6,515","3,510","8,045","7,770","4,430","7,465","6,330",...,"4,890","6,330","14,225","3,590","2,340","3,815","3,310","3,535","7,505","3,985"
1030,Total - Income statistics in 2015 for one-...,"3,59,990","1,360","1,615","1,115","7,895","4,370","1,660","7,620","3,190",...,"2,705","2,175","4,235","1,875","1,105","2,065","2,370","3,520","2,655","1,350"
1039,"$5,000 to $9,999","23,455",105,140,45,485,155,85,735,260,...,225,85,455,125,65,120,105,120,230,65
1040,"$10,000 to $14,999","36,550",160,195,80,655,235,155,740,290,...,250,155,685,265,105,185,145,185,340,120
1041,"$20,000 to $24,999","47,315",320,315,145,620,395,245,580,365,...,325,365,825,275,150,325,175,225,525,245
1042,"$25,000 to $29,999","47,500",540,400,150,530,445,230,560,370,...,315,395,960,190,135,270,170,220,525,240
1043,"$30,000 to $34,999","46,945",420,370,155,525,405,220,490,360,...,285,375,910,225,110,225,190,215,590,290
1044,"$35,000 to $39,999","47,115",455,385,170,555,470,255,515,330,...,245,375,950,160,130,225,210,235,570,275
1045,"$40,000 to $44,999","46,285",420,370,160,540,460,240,440,350,...,265,380,955,190,115,225,195,260,530,280
1046,"$45,000 to $49,999","44,650",435,415,165,505,400,245,410,335,...,240,370,815,180,115,225,180,260,530,230
1047,"$50,000 to $59,999","84,180",800,770,335,"1,000",930,400,850,650,...,440,630,"1,725",295,245,400,370,505,950,470
1048,"$60,000 to $69,999","76,120",700,645,300,900,885,430,840,655,...,390,610,"1,405",290,205,390,375,445,845,370
1049,"$70,000 to $79,999","68,190",635,595,320,795,780,390,815,615,...,375,555,"1,240",235,200,315,325,415,615,360
1050,"$80,000 to $89,999","60,400",525,510,275,715,655,310,705,520,...,375,510,"1,070",235,185,300,275,340,605,295
1051,"$90,000 to $99,999","53,485",515,405,250,605,605,300,570,495,...,335,435,865,220,195,275,245,325,515,235
1052,"$100,000 and over","3,43,520","2,505","2,030","1,915","5,895","4,615","2,025","3,600","3,010",...,"2,320","2,895","3,980","2,190","1,245","1,895","2,340","2,865","1,955","1,550"
1053,"$200,000 and over","96,600",325,285,360,"2,670","1,750",515,"1,105",855,...,640,655,430,610,210,610,"1,110","1,380",195,325
1054,Total - Household after-tax income groups in 2...,"11,12,930","9,115","8,140","4,620","15,940","12,125","6,090","15,070","9,525",...,"7,550","8,510","18,430","5,455","3,450","5,880","5,680","7,010","10,165","5,345"
1703,"No certificate, diploma or degree-NO EDU",377340,6550,4035,2005,1585,2295,1665,700,1310,...,1405,3440,8850,1430,1015,1860,575,460,5125,3445
1704,Secondary (high) school diploma or equivalen...,561090,7460,6090,2960,4270,5150,3390,5740,3680,...,3140,5205,13170,2065,1760,2285,1430,1820,6980,3385
1705,Trades certificate or diploma other than...,53060,505,375,345,265,450,345,155,215,...,205,615,1025,225,190,220,140,165,830,425
1706,Certificate of Apprenticeship or Certifi...,40945,375,325,345,265,345,255,100,145,...,210,510,830,185,125,205,85,100,505,340
1707,"College, CEGEP or other non-university cer...",362080,3540,3150,2095,2700,3490,2125,1595,2905,...,1935,3075,7535,1760,1235,1710,1275,1410,3765,1755
1708,University certificate or diploma below ba...,65015,775,655,230,615,795,485,545,700,...,455,465,1120,225,125,330,235,360,765,320
1709,"University certificate, diploma or degree ...",835260,5805,5765,2290,16590,10850,4980,15090,9790,...,7515,5265,10860,4220,2245,4775,6255,6775,5555,2405
1710,Bachelor's degree,534610,4380,4210,1660,9135,6500,3075,8370,6055,...,4700,3655,7575,2795,1435,2770,3625,3720,3910,1595
1711,University certificate or diploma above ...,54570,295,280,125,960,800,475,680,515,...,410,385,705,240,135,315,370,445,340,220
1886,Employed,"13,61,375","12,510","10,855","6,405","17,305","13,010","8,000","13,455","10,965",...,"7,760","9,940","22,505","6,715","4,380","7,470","6,815","7,245","13,235","6,670"
1887,Unemployed,"1,22,305","1,360","1,185",415,"1,250","1,010",620,"1,535",910,...,845,920,"2,665",560,310,410,505,455,"1,585",580
1888,Participation rate,64.7,55.4,59,66.5,70.6,59.9,65,62.7,63.4,...,57.9,58.5,58,71.9,70.2,69.2,73.2,69.4,63,60.1
1889,Employment rate,59.3,50,53.2,62.4,65.8,55.6,60.3,56.2,58.5,...,52.2,53.5,51.9,66.4,65.5,65.6,68.2,65.2,56.3,55.3

In [87]:
df_transposed=DF1.transpose()

In [88]:
df_transposed

,0,85,86,87,88,89,90,1020,1023,1030,...,1706,1707,1708,1709,1710,1711,1886,1887,1888,1889
Characteristic,Neighbourhood Number,2 persons,3 persons,4 persons,5 or more persons,Couples without children,Total number of census families in private hou...,Total - Income statistics in 2015 for one-...,Total - Income statistics in 2015 for two-...,Total - Income statistics in 2015 for one-...,...,Certificate of Apprenticeship or Certifi...,"College, CEGEP or other non-university cer...",University certificate or diploma below ba...,"University certificate, diploma or degree ...",Bachelor's degree,University certificate or diploma above ...,Employed,Unemployed,Participation rate,Employment rate
City of Toronto,NaN,"3,44,110","1,74,600","1,43,250","56,795","2,50,085","7,18,755","3,59,955","7,52,970","3,59,990",...,40945,362080,65015,835260,534610,54570,"13,61,375","1,22,305",64.7,59.3
Agincourt North,129,3570,2390,1875,605,2520,8425,"1,345","7,770","1,360",...,375,3540,775,5805,4380,295,"12,510","1,360",55.4,50
Agincourt South-Malvern West,128,2970,1835,1325,520,2095,6640,"1,620","6,515","1,615",...,325,3150,655,5765,4210,280,"10,855","1,185",59,53.2
Alderwood,20,1605,900,755,220,1175,3490,"1,105","3,510","1,115",...,345,2095,230,2290,1660,125,"6,405",415,66.5,62.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wychwood,94,1820,765,680,195,1320,3475,"2,080","3,815","2,065",...,205,1710,330,4775,2770,315,"7,470",410,69.2,65.6
Yonge-Eglinton,100,1555,680,665,170,1290,3065,"2,365","3,310","2,370",...,85,1275,235,6255,3625,370,"6,815",505,73.2,68.2
Yonge-St.Clair,97,2130,535,380,115,1850,3160,"3,475","3,535","3,520",...,100,1410,360,6775,3720,445,"7,245",455,69.4,65.2
York University Heights,27,3150,1845,1395,610,1955,7000,"2,660","7,505","2,655",...,505,3765,765,5555,3910,340,"13,235","1,585",63,56.3
Yorkdale-Glen Park,31,1835,1035,740,330,1245,3930,"1,355","3,985","1,350",...,340,1755,320,2405,1595,220,"6,670",580,60.1,55.3

In [89]:
df2= df_transposed

In [91]:
def remove_comma_and_convert_to_float(value):
    if isinstance(value, str):
        return float(value.replace(",", ""))
    else:
        return value

# Apply the function to all elements in the DataFrame except the first row
df2.iloc[1:] = df2.iloc[1:].applymap(remove_comma_and_convert_to_float)

In [92]:
df2.to_csv('CleanData.csv')